{{#each products}}
<article>
    <div>
        <div class="ball-per balls">
            <p>-{{discount}}%</p>
        </div>
        <div class="ball-new balls">
            <p>NEW</p>
        </div>
        <img src={{image}} alt="{{desc}}">
    </div>
    <h3>{{name}}</h3>
    <p>{{desc}}</p>
    <p class="price">${{price}}</p>
</article>
{{/each}}