{{#each products}}
<article>
    <div>
        {{#if this.discount}}
        <div class="ball-per balls">
            <p>-{{this.discount}}%</p>
        </div>
        {{/if}}
        <div class="ball-new balls">
            <p>NEW</p>
        </div>
        <img src={{this.image}} alt="{{this.desc}}">
    </div>
    <h3>{{this.name}}</h3>
    <p>{{this.desc}}</p>
    <p class="price">${{this.price}}</p>
</article>
{{/each}}